@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
body{
 font-family:"Lato";
 background-color:#f2f2f2;
  color: #555;
  padding-top: 56px;
  font-weight: 300;
  font-size: 16px;
       -webkit-font-smoothing:antialiased;
       -webkit-overflow-scrolling:touch;

}
.dropdown:hover > .dropdown-menu { 
    display: block; 
} 

a:hover, a:focus,{
	color: #7b7b7b;
	text-decoration: none;
	outline: 0;
}
.navbar{
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 10px;
}
.navbar-inverse{
	background:#2d2d2d;
	border-color: #2d2d2d;
}

.navbar-inverse .navbar-brand{
	color: #999;
	font-weight: bolder;
	font-size: 22px;
	letter-spacing: 1px;
}

.fa-circle{
	color:#A64747;
}
.p-0{
	padding:0; 
}
.p-50{
	top: 50px;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.portfolio-item {
  margin-bottom: 30px;
}

button > a{
	text-decoration: none;
	color: black;
}
button:focus{
	color:#A64B00;
}
.p-9{
	font-family:"Raleway";
	font-weight: bold;
	color: #FA7904FF;
}
.p-4{
	font-size: 22px;
}